<html>
<body>
    <div class="login">
       <h1>FWI Prediction</h1>
   
        <!-- Main Input For Receiving Query to our ML -->
       <form action="{{ url_for('predict_datapoint')}}" method="post">
         <input type="text" name="Temperature" placeholder="Temperature" required="required" /><br><br>
           <input type="text" name="RH" placeholder="RH" required="required" /><br><br>
           <input type="text" name="Ws" placeholder="Ws" required="required" /><br><br>
           <input type="text" name="Rain" placeholder="Rain" required="required" /><br><br>
           <input type="text" name="FFMC" placeholder="FFMC" required="required" /><br><br>
           <input type="text" name="DMC" placeholder="DMC" required="required" /><br><br>
           <input type="text" name="ISI" placeholder="ISI" required="required" /><br><br>
           <input type="text" name="Classes" placeholder="Classes" required="required" /><br><br>
           <input type="text" name="Region" placeholder="Region" required="required" /><br><br>
   
   
   
           <button type="submit" class="btn btn-primary" type="button" data-bs-toggle="collapse">Predict</button>
       </form>
    <h2>
       THE FWI prediction is {{result}}
    </h2>
<body>
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>